In [17]:
import pandas as pd

df = pd.read_csv('learning_purpose.csv')

df

    1    a
0   2    b
1   3    c
2   4  NaN
3   5  NaN
4   6  NaN
5   7  NaN
6   8  NaN
7   9  NaN
8  10  NaN

In [15]:
print("")